Repository hnordt/covid: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: Now
  now.json
Due: prettier --write

chore: Add Tailwind UI
  package.json
  postcss.config.js
  public/index.html
  src/Core/Components/Logo.js
  src/Core/Data/Confirmed.csv
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: Total cases
  package.json
  public/index.html
  src/App.js
  src/Core/Components/Logo.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: Improve chart
  src/App.js
Due: eslint --fix

chore: Google Analytics
  public/index.html
Due: prettier --write

chore: Typo
  src/App.js
Due: eslint --fix

chore: Branding
  README.md
  public/index.html
  public/manifest.json
Due: prettier --write

chore: Add Spain
  src/App.js
Due: eslint --fix

chore: Add YAxis
  src/App.js
Due: eslint --fix

chore: Fix CSS Build
  package.json
Due: prettier --write

chore: Add South Korea
  src/App.js
Due: eslint --fix

chore: Increase amount of days
  src/App.js
Due: eslint --fix

chore: Code cleanup
  package.json
  src/App.js
  src/Components/Card.js
  src/Components/Content.js
  src/Components/Link.js
  src/Components/Logo.js
  src/Components/Navbar.js
  src/Constants/COUNTRIES.js
  src/Constants/RECHARTS_OVERRIDES.js
  src/Core/Data/Confirmed.csv
  src/Requests/fetchData.js
  src/Utils/findCountryByName.js
  src/Utils/formatNumber.js
  src/Widgets/TotalCasesProgression.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: Update package.json
  package.json
Due: prettier --write

chore: Remove unused packages
  package.json
  yarn.lock
Due: prettier --write

chore: Move @tailwindcss/ui to devDeps
  package.json
Due: prettier --write

feat(Card): Add elaboration prop
  src/Components/Card.js
  src/Widgets/TotalCasesProgression.js
Due: eslint --fix

fix(TotalCasesProgression): Kind of typo
  src/Widgets/TotalCasesProgression.js
Due: eslint --fix

chore: Improve custom font loading performance
  public/index.html
  tailwind.config.js
Due: prettier --write, eslint --fix

feat(PandemicStatus): Add general stats
  src/App.js
  src/Components/Stat.js
  src/Components/Stats.js
  src/Widgets/PandemicStatus.js
Due: eslint --fix

chore: Widget for registering your health state (WIP)
  src/App.js
  src/Components/Card.js
  src/Components/CardContent.js
  src/Components/CardFooter.js
  src/Components/Stat.js
  src/Components/Stats.js
  src/Widgets/PandemicStatus.js
  src/Widgets/TotalCasesProgression.js
Due: eslint --fix

fix(TotalCasesProgression): Improve NUMBER_OF_DAYS
  src/Widgets/TotalCasesProgression.js
Due: eslint --fix

chore: Minor enhancements
  src/Widgets/PandemicStatus.js
Due: eslint --fix

chore: Increase number of days
  src/Widgets/TotalCasesProgression.js
Due: eslint --fix

chore: Decrease number of days
  src/Widgets/TotalCasesProgression.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{md,mdx,html,scss,json}
  eslint --fix: any of: *.js
